body{
    display: flex;
    justify-content: center;
    font-family: monospace;
    background-color: rgb(32, 31, 95);
    color:blanchedalmond;
    
}
main{
    text-align: center;
}


button{
    background-color: blanchedalmond;
    color: rgb(32, 31, 95);
    font-size: 50px;
}
footer{
    position: absolute; /*keeps the footer in one spot*/
    bottom: 0;          /*puts at the bottom*/
   
}
footer li{
    display: inline;
    padding: 20px;
    
}
footer a{
    color: blanchedalmond;
}
footer a:hover{
    filter: saturate(0.5);  /*nice little lightening when hovering*/
}